$primary: rgba(92,37,141,1);
$secondary: rgba(67,137,162,1);
$third: #cb2d3e;

$gradient: linear-gradient(135deg, rgba(92,37,141,1) 0%, rgba(67,137,162,1) 100%);
$gradient2: linear-gradient(to left, #cb2d3e , #ef473a);
$gradient3: linear-gradient(to left, #348F50 , #56B4D3);
$gradient4: linear-gradient(to left, #ff00cc , #333399);

$font1: 'Dancing Script', cursive;
$font2: 'Roboto', sans-serif;
